.full {
	width: 100vw;
	height: 100vh;
	margin-inline: auto;
}

input[name="location"] {
	background-color: white;
	padding-inline: 5px;
	padding-block: 20px;
	width: 100%;
	border-radius: 4px;
}

ion-content {
	--offset-bottom: auto !important;
	--overflow: hidden;
	overflow: auto;
	&::-webkit-scrollbar {
		display: none;
	}
}
