.full {
	width: 100vw;
	height: 100%;
	margin-inline: auto;
	z-index: -1;
}

input[name="location"] {
	background-color: white;
	color: black;
	margin-top: 5px;
	padding: 10px 5px;
	width: 100%;
	border-radius: 2px;
	border: none;
	box-shadow: 0 0 2px #0008;
}

.float_mid {
	position: fixed;
	top: 30%;
	left: 0;
}

ion-chip {
	--background: #0005;
	--color: white;
}